#* @vtlvariable name="changeset" type="com.atlassian.jira.plugins.dvcs.model.Changeset" *#
<div class="CommitContainer issue-data-block" id="$changeset.getNode()">
    <!-- Gravatar -->
    <div class="CommitContainerMargin">
        <a class="dvcs-link" data-link-type="user" href="$user_url" target="_blank">
            <div class="ComiterImage">
                <img src="$gravatar_url" alt="" title="" width="32" height="32"/>
            </div>
        </a>
        <!-- Body -->
        <div class="CommiterBody">
            <!-- name and date -->
            <div class="CommiterInfoPanel">
                <a class="dvcs-link" data-link-type="user" href="$user_url" target="_blank">
                    <div class="CommitUser">$user_name</div>
                </a>

                <div class="CommitingDate">$velocity_utils.getRelativePastDate($changeset.getDate())</div>

                #if ($repositories.size() > 1)
                    <button class="ForksDropDown aui-button aui-dropdown2-trigger"
                            id="fork-drop-down-$changeset.getNode()"
                            href="#fork-list-$changeset.getNode()-$changeset.getRepositoryId()"
                            aria-owns="fork-list-$changeset.getNode()-$changeset.getRepositoryId()" aria-haspopup="true"
                            aria-controls="fork-list-$changeset.getNode()-$changeset.getRepositoryId()">
                        <span class="icon fork">Fork icon</span>
                        <span>Forks</span>
                        <span class="aui-badge">$repositories.size()</span>
                    </button>
                    <div id="fork-list-$changeset.getNode()-$changeset.getRepositoryId()"
                         class="aui-dropdown2 aui-style-default">
                        <ul class="aui-list-truncate-$changeset.getNode()-$changeset.getRepositoryId()">
                            #foreach ( $repository in $repositories )
                                <li><a class="aui-dropdown2-radio #if($repository == $repositories.get(0)) checked#end"
                                       href="javascript:com.atlassian.jira.dvcs.showChangesetByFork('$changeset.getNode()','$repository.getId()', '$repository.getOrgName()/$repository.getName()', '$repository.getRepositoryUrl()');">$repository.getOrgName()
                                    /$repository.getName()</a></li>
                            #end

                        </ul>
                    </div>
                    <script type="text/javascript">
                        com.atlassian.jira.dvcs.registerForksTooltip('$changeset.getNode()', '$repositories.get(0).getOrgName()/$repositories.get(0).getName()', '$repositories.get(0).getRepositoryUrl()');
                    </script>
                #end

            </div>
            <div class="CommiterInfoRow"></div>

            #set ( $repo_counter = 0 )
            #foreach ( $repository in $repositories )

                #set ( $repo_counter = $repo_counter+1 )
                #set ( $commit_url = $commit_urls_by_repo.get($repository))
                #set ( $file_commit_urls = $file_commit_urls_by_repo.get($repository))


                <div class="CommitPanel" id="$changeset.getNode()-$repository.getId()" #if ( $repo_counter > 1 )
                     style="display: none;" #end>
                    <div class="CommitHeader">
                        <a class="dvcs-link" data-link-type="commit" href="$commit_url" target="_blank">
                            <div class="CommitButton">View full commit</div>
                        </a>

                        <div class="CommitText">$issue_linker.createLinks($commit_message)</div>
                    </div>

                    <div class="CommitBody">
                        <div class="CommitBodyPadding">
                            <!-- body head -->
                            <div class="CommitBodyUp">
                                #if ($changeset.getBranch()!="null")
                                    <div class="CommitBodyUpTitle">$changeset.getBranch()</div>
                                #end
                            </div>
                            <!-- data for while -->
                            #set ( $file_counter = 0 ) <!-- used to create link to the diff on github-->
                            #foreach ( $file in $changeset.fileDetails )
                                #set ( $file_name = $file.getFile() )
                                #set ( $color = $file.getFileAction().getColor() )
                                #set ( $file_action_name = $file.getFileAction().toString() )
                                #set ( $file_commit_url = $file_commit_urls.get($file))
                                #set ( $action = $file.getFileAction().getAction() )
                                #if ( $action == 'modified' )
                                    <div class="CommitRows">
                                        <div class="CommitCount">
                                            <div class="green left-half lozenge CommitCountPlus">
                                                #set ( $additions = $file.getAdditions() )
                                                #if ( $additions == 0 )-#else +$additions #end
                                            </div>
                                            <div class="red right-half lozenge CommitCountMinus">
                                                #set ( $deletions = $file.getDeletions() )
                                                #if ( $deletions == 0 )-#else -$deletions #end
                                            </div>
                                        </div>
                                        <a class="dvcs-link" data-link-type="file" href="${file_commit_url}"
                                           target="_blank">
                                            <div class="CommitHrefDATA">${file_name}</div>
                                        </a>
                                    </div>
                                #elseif ( $action == 'added' )
                                    <div class="CommitRows">
                                        <div class="CommitCount">
                                            <div class="green lozenge CommitCountAdded">Added</div>
                                        </div>
                                        <a class="dvcs-link" data-link-type="file" href="${file_commit_url}"
                                           target="_blank">
                                            <div class="CommitHrefDATA">${file_name}</div>
                                        </a>
                                    </div>
                                #elseif ( $action == 'removed' )
                                    <div class="CommitRows">
                                        <div class="CommitCount">
                                            <div class="red lozenge CommitCountRemoved">Deleted</div>
                                        </div>
                                        <a class="dvcs-link" data-link-type="file" href="${file_commit_url}"
                                           target="_blank">
                                            <div class="CommitHrefDATA">${file_name}</div>
                                        </a>
                                    </div>
                                #end
                                #set ( $file_counter = $file_counter+1 )
                                <!--  -->
                            #end
                            #if ( $changeset.getAllFileCount() gt $max_visible_files )
                                <a class="dvcs-link" data-link-type="morefiles" href="$commit_url" target="_blank">
                                    <div class="CommitRows">... see more changes
                                        #set ($dvcstype = $repository.getDvcsType())
                                        #if ($dvcstype == "bitbucket")
                                            in Bitbucket
                                        #elseif ($dvcstype == "github")
                                            in GitHub
                                        #elseif ($dvcdtype == "githube")
                                            in GitHub Enterprise
                                        #end
                                    </div>
                                </a>
                            #end
                        </div>
                    </div>
                </div>
            #end
        </div>

    </div>
</div>
